%div[@game, :id]
  %h2
    .desc
      Game #
      = @game.id
      in der League
      = @game.league.name
    %span(class="#{@game.state}")
      Status:
      = @game.state
  .game_content
    = catch_content :game_part_content
