%div[@model, :id]
  %h2
    = name
  - if game = where_playing
    .game
      = t.players.playing_in
      = game
  %h3
    = t.players.member_of
  .league_memberships
    - for lm in league_memberships
      = lm.as(:widget)
