#menu
  #global
    %ul
      %li
        = link_to "Players", resource(:players)
      %li
        = link_to "Games", resource(:games)
      %li
        = link_to "Leagues", resource(:leagues)
  #personal
    - if @user
      - if @user.playing?
        #actual_game
          = link_to "Aktuelles Game", resource(@game)
          - unless @game.persistent?
            = link_to "Leave", resource(@game, :leave)
      = link_to "Logout", "/logout"
    - else
      = link_to "Login", "/login"
