!!! Strict
%html{ html_attrs("de") }
  %head
    %title
      Dota League Organizer
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %link{ :href => "/stylesheets/master.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }/
  %body
    %ul
      %li
        = link_to "Players", resource(:players)
      %li
        = link_to "Games", resource(:games)
      %li
        = link_to "Leagues", resource(:leagues)

    - unless message.empty?
      #message
        - if message[:error]
          .error
            &= message[:error]
        - if message[:notice]
          .notice
            &= message[:notice]
    #content
      = catch_content :for_layout
    #foot
      &copy; 2009
      Tass
