%h1
  Game #
  = @game.id
  in der League
  = @game.league.name
  , Status:
  = @game.state
= unless @game.persistent?
  = form_for(:game, :action => resource(@game, :join), :method => :post) do
    %p= submit "Join"
%table
  %caption Players
  %thead
    %tr
      %th Name
      %th Score
  - for gm in @game.game_memberships
    %tr 
      %td
        = link_to gm.player.login, "#{resource(gm.player)}"
      %td
        = gm.score
