%h1
  Profil von
  = @player.login
%h2
  Mitglied bei
  %table
    %thead
      %tr
        %th Name
        %th Score
        %th vouched?
        %th banned?
    - for lm in @player.league_memberships
      %tr
        %td
          = link_to lm.league.name, resource(:leagues) + "/" + lm.league.name
        %td
          = lm.score
        %td
          = lm.vouched?
        %td
          = lm.banned?
