%h1
  Profil von
  = @player.login
- if @player.playing?
  .game
    Dieser User spielt gerade in
    = part GamePart => :index, :id => @player.where_playing
%table
  %caption Mitglied bei
  %thead
    %tr
      %th Name
      %th Score
      %th vouched?
      %th banned?
  - for lm in @player.league_memberships
    %tr
      %td
        = link_to lm.league.name, "#{resource(:leagues)}/#{lm.league.name}"
      %td
        = lm.score
      %td
        = lm.vouched?
      %td
        = lm.banned?
