- extends "base.html" unless request.ajax?
- block(:title, @league.name)
= block(:content) do
  %h1
    League
    = @league.name
  .actions
    = partial "leagues/actions/new_random_game", league: @league
  %table
    %caption Mitglieder
    %thead
      %tr
        %th Name
        %th Score
        %th vouched?
        %th banned?
    - for lm in @league.league_memberships
      %tr
        %td
          = link_to lm.player.login, resource(lm.player)
        %td
          = lm.score
        %td
          = lm.vouched
        %td
          = lm.banned?
