!!! 1.0 Strict
- includes "menu/personal.html"
- includes "menu/global.html"
%html{html_attrs("en")}
  %head
    / http://wiki.github.com/botanicus/rango/template-inheritance
    %title= block(:title)
    %meta{"http-equiv" => "content-type", content: "text/html; charset=utf-8"}
    %meta{"http-equiv" => "content-language", content: "de"}
    %meta{name: "description", content: block(:description, "")}
    %meta{name: "keywords", content: block(:keywords, "")}
    %meta{name: "author", content: "Simon Hafner"}
    -#= javascripts *block(:javascripts, Array.new)
    -#= stylesheets *block(:stylesheets, Array.new)
    = block(:head)
  %body
    .container
      .menu
        .global
          = Menu.new(env).global_menu
        .personal
          = Menu.new(env).personal_menu
      .content
        = block(:content)
